<% layout("/layouts/boilerplate") %>
<div class="row">
  <div class="col-8 offset-2">
    <br /><br />
    <h3>Create a New Listing</h3>
    <form method="POST" action="/listings" novalidate class="needs-validation">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          name="listing[title]"
          placeholder="Enter a catchy title"
          type="text"
          class="form-control"
          required
        />
      </div>

      <div class="mb-3">
        <label for="Description" class="form-label">Description</label>
        <textarea
          name="listing[description]"
          class="form-control"
          required
        ></textarea>
      </div>

      <div class="mb-3">
        <label for="Image" class="form-label">Image</label>
        <input
          name="listing[image]"
          placeholder="Enter image URL/Link"
          type="text"
          class="form-control"
        />
      </div>
      <!-- creating another row to add price & country in a single line -->
      <div class="row">
        <div class="mb-3 col-4">
          <label for="Price" class="form-label">Price</label>
          <input
            name="listing[price]"
            placeholder="1200"
            type="number"
            class="form-control"
            required
          />
        </div>

        <div class="mb-3 col-8">
          <label for="Country" class="form-label">Country</label>
          <input
            name="listing[country]"
            placeholder="Nepal"
            type="text"
            class="form-control"
            required
          />
        </div>
      </div>

      <div class="mb-3">
        <label for="Location" class="form-label">Location</label>
        <input
          name="listing[location]"
          placeholder="Bhaktapur,Kathmandu,Palpa"
          type="text"
          class="form-control"
          required
        />
      </div>
      <br />
      <button class="btn btn-dark add-btn">Add</button>
      <br /><br />
    </form>
  </div>
</div>
